*{
    margin:0px;
    padding:0px;
}
.main{
    display:flex;
    flex-direction: column;
}
.header{
    background-color: darkcyan;
    height: 100px;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    padding-left: 50px;
    text-align: left;
    color: yellow;
    font-weight: bolder;
}
.header h2{
    padding-right: 50px;
    text-align: right;
    color: white;
    text-shadow: 6px 3px 3px black;
}
.nav{
    background-color: rgb(12, 181, 124);
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.menu li{
    background-color: green;
    display: inline-block;
    width: 200px;
    position:relative;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: block;
}
.menu a:hover{
    color: yellow;
}
.menu li .submenu{
    display: none;
    position: absolute;
    padding-left: 0%;
}
.menu li:hover .submenu{
    display: block;
}
.container{
    background-color: lightblue;
    display: flex;
    width: 100%;
}
fieldset{
    border: 2px solid black;
    font-size: 25px;
    line-height: 50px;
    padding-left: 1.5em;
    padding-bottom: 1em;
}
.left{
    width: 50%;
    margin: 15px;
}
.right{
    width: 50%;
    margin: 15px
}
select{
    height: 40px;
    font-size: 20px;
}
input[type="number"], button{
    height: 40px;
}
button{
    width: 100px;
    font-size: 20px;
}
input[type="text"]{
    height: 30px;
    width: 90%;
    font-size: 30px;
}
input[type="result"]{
    height: 30px;
    width: 90%;
    font-size: 30px;
}
img{
    height: 200px;
    width: 300px;
}
.footer{
    background-color: rgb(12, 135, 135);
    color: yellow;
    height: 50px;
    text-align: center;
    font-size: 1.5em;
    line-height: 50px;
}
.shadow{
    text-shadow: 7px 7px 3px black;
}
